<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641466190777-5q4p942d2ljrkek6arh2gufigpb9pqk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641466190777-5q4p942d2ljrkek6arh2gufigpb9pqk4</string>
	<key>API_KEY</key>
	<string>AIzaSyBjaPGdqYZIpq8dnWgwALjM6CzBl4uBfjM</string>
	<key>GCM_SENDER_ID</key>
	<string>641466190777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.santaFront</string>
	<key>PROJECT_ID</key>
	<string>fluid-facet-254617</string>
	<key>STORAGE_BUCKET</key>
	<string>fluid-facet-254617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641466190777:ios:fcfe0b0a90916b805c0468</string>
</dict>
</plist>